<style>
  .main-container {
    max-height: 100vh !important;
    max-width: 100vw !important;
    overflow-x: hidden;
    background: linear-gradient(120deg, #ebf1f8 0%, #cddcfa 100%);
  }
  .bg-blue {
    background-color: #b6d0fe;
  }
</style>
<div class="main-container">
  <nav
    class="navbar p-2 py-3 text-dark bg-light border-bottom sticky-top shadow"
  >
    <div
      class="container-fluid w-100 align-items-center justify-content-center"
    >
      <a class="navbar-brand" href="/">Home</a>
      <input placeholder="Search for a Meal" class="w-50 rounded border p-2" />
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
